.rule-container {
  display: flex;
  flex-direction: column;
  gap: 4px;

  border: 2px solid #00681f;
  border-radius: 0px;
  overflow: hidden;
}

.rule-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;

  background-color: transparent;
  cursor: pointer;
  border: none;

  color: #00681f;
}

.rule-header:hover,
.rule-header:focus {
  background-color: #e0d7bb;
}

.rule-name {
  display: flex;
  font-weight: bold;
}

.rule-arrow {
  transition: transform 0.3s ease-in-out;
}

.rule-arrow.expanded {
  transform: rotate(0deg);
}

.rule-arrow.collapsed {
  transform: rotate(-90deg);
}

.rule-description {
  padding: 8px;
  padding-top: 0px;
  box-sizing: border-box;

  animation: expand 0.3s;
}

@keyframes expand {
  from {
    height: 0px;
  }
  to {
    height: 25px;
  }
}
